<div class="container py-4 my-4">
    <div class="row mb-4">
         
        <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Notion</li>
                </ol>
            </nav>
        </div>
        <div class="col text-end">
            <h3 class="text-center text-success">Add new Notion</h3>
        </div>
    </div>

    <form action="/dashboard/add" method="post" class="position-relative form-control">
        <div class="form-group mb-4">
            <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
        </div>
        <div class="form-group mb-4">
            <textarea type="text"  name="body" id="" placeholder="Text something" cols="30" rows="12" required class="form-control"></textarea>
        </div>
        <div class="form-group mb-4">
            
            <button class="btn btn-primary">+Save Notion</button>
        </div>
    </form>

</div>
