<div class="container">
    <main>
        <div class="row text-center justify-content-center my-4">
            <h1 class="display-3 fw-bold text-center my-4">Page not found</h1>

            <p>Notion is a simple to use free note taking app made with Node.js, EJS & MongoDB</p>
            <a href="/auth/google" class="btn btn-primary">Explore more </a>
        </div>
    </main>
</div>