<div class="container">
    <main class="mt-5 pt-5 ">
        <div class="row text-center justify-content-center my-4">
            <h1 class="display-3 fw-bold text-center my-4">Remember to write down Notion when needed</h1>

            <p class="fs-3 py-4">Notion is a simple to use free note taking app made with Node.js, EJS & MongoDB</p>
            <a href="/auth/google" class="btn btn-primary">Try it free </a>
        </div>
    </main>
</div>